.demo {
  width: 100vw;
  height: 100vh;
}

.back {
  text-align: center;
}

.content {
  padding: 20px 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.left,
.right {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.mt-40px {
  margin-top: 40px;
}
